<md-content layout="column" ng-cloak>
    <h3>
        Filtered by tag:&nbsp{{filterTag || "None"}}

        <md-button ng-disabled="!filterTag" class="md-accent md-raised md-primary" ng-click="clearFilter()">Clear Filter</md-button>
    </h3>
    <md-list>
        <md-list-item ng-disabled="bookmark.isBeingDeleted" ng-click="editBookmark(bookmark)" ng-repeat="bookmark in bookmarks | hasTag : filterTag">
           {{bookmark.title}}({{bookmark.url}}) | {{bookmark.tags}}
            <md-icon class="md-secondary" aria-label="Delete" ng-disabled="bookmark.isBeingDeleted" ng-click="deleteBookmark(bookmark)" class="material-icons">
                {{bookmark.isBeingDeleted ? 'loop' : 'delete'}}
            </md-icon>
        </md-list-item>
    </md-list>
</md-content>
