<div layout="column" ng-cloak>
    <md-content layout-padding>
        <form name="addBookmarkForm" novalidate>
            <md-input-container class="md-block">
                <label>Bookmark URL</label>
                <input required name="url" type="url" ng-model="bookmark.url">
                <div ng-messages="addBookmarkForm.url.$error" ng-messages-multiple>
                    <div ng-message="required">This is required.</div>
                    <div ng-message="url">The name has to be valid URL.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Bookmark Title</label>
                <input md-maxlength="30" required name="title" ng-model="bookmark.title">
                <div ng-messages="addBookmarkForm.title.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Tags (separated by comma)</label>
                <input name="tags" ng-model="bookmark.tags">
             </md-input-container>

            <md-button class="md-accent md-raised md-primary"
                       type="submit"
                       ng-click="addBookmark()"
                       ng-disabled="addBookmarkForm.$invalid">
                Save
            </md-button>
            <md-button class="md-accent md-raised md-primary"
                       type="submit"
                       ng-click="clearForm()">
                Cancel
            </md-button>
        </form>
    </md-content>
</div>
