.victims-count{
    > div {
        float: left;
        img {
            height: 100px;
            width: 100px;
            border:4px solid #021a40;
        }
        hr {
            width: 60px;
            top: 94px;
            left:20px;
            position: relative;
            background-color: #000000;
            color: #000000;
            border:3px solid #000000;
            transform:rotate(-45deg);
            -ms-transform:rotate(-45deg);
            -moz-transform:rotate(-45deg);
            -webkit-transform:rotate(-45deg);
            -o-transform:rotate(-45deg);
        }
        span{
            position: relative;
            top: -30px;
            left: -60px;
            color: red;
            font-size: 2em;
        }
    }
}

.shooting-ring{
    img {
        height: 60px;
        width: 60px;
        position: fixed;
    }
}
